@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('../fonts/helveticaneuecyr-light-webfont.eot');
    src: url('../fonts/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff'),
    url('../fonts/helveticaneuecyr-light-webfont.ttf') format('truetype'),
    url('../fonts/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    color: #fff !important;
    font-family: Arial, "helveticaneuecyrlight", Helvetica, sans-serif !important;
    font-size: 12pt !important;
    background: #565d67;
}

.owl-controls {
    margin-top: 0 !important;
}

.owl-dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.no-padding, .col-md-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.absolute-center-horizontal {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.absolute-center-vertical {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
}

.container {
    padding: 0;
    max-width: 1440px;
    width: auto;
    position: relative;
}

.logo {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 100;
    background: rgba(129, 130, 129, 0.71);
    padding: 20px 0 28px 28px;
    margin-left: -230px
}

.menu {
    display: block;
    background: url(../img/menu.png);
    width: 34px;
    height: 30px;
    cursor: pointer;
    margin-top: 25px;
    transition: 1s;
}
.dropdown-menu {
    background: rgba(129, 130, 129, 0.71);
    border-radius: 0;
    border: none;
    margin-top: 0;
    width: 100%;
    padding: 0;
}
.dropdown-menu>li>a {
     padding: 15px 20px;
     color: #fff;
    transition: 0.3s;
 }
.menu:hover {
    background: url(../img/menu_hover.png);
}

.carousel .caption, .team .caption {
    max-width: 30%
}

.col-md-6 .caption {
    width: 70%;
    min-height: 30%;
    padding: 5px 35px;
}

.caption.top {
    top: 0;
    left: 15%;
}

.caption.left {
    left: 0;
    top: 35%;
}

.caption.right {
    right: 0;
    top: 35%;
}

.caption {
    position: absolute;
    right: 0;
    top: 43%;
    min-height: 14%;
    background: rgba(129, 130, 129, 0.71);
    padding: 20px 40px;
}

.dark-caption {
    background: #797e86;
    padding: 10px 40px;
    margin-bottom: 60px;
}

.caption h1 {
    margin: 5px 0;
}

.back {
    display: none;
    background: #fff;
    clear: both;
    width: 100%;
    height: 212px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-box-shadow: inset 0px 10px 117px 10px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: inset 0px 10px 117px 10px rgba(0, 0, 0, 0.52);
    box-shadow: inset 0px 10px 117px 10px rgba(0, 0, 0, 0.52);
}

.back.blue {
    background: #fff url(../img/back/blue.png) repeat-x;
}

.back.orange {
    background: #fff url(../img/back/orange.png) repeat-x;
}

.back.green {
    background: #fff url(../img/back/green.png) repeat-x;
}

.polygonator {
    background: #565d67;
    height: 100%;
}

.polygonator img {
    top: 35px;
}

.polygon {
    background: #fff;
}

.polygon-img {
    margin: 70px 0 70px 35px;
}

.polygon-text {
    margin-right: -35px;
}

.polygon-text img {
    margin-top: 70px;
}

.contact {
    background: #565d67;
    /*padding-top: 68px;*/
}

.contact .first {
    margin-top: 0px;
}

.footer {
    background: #373c43;
    color: #797e86;
    position: absolute;
    bottom: 30px;
}

.copy {
    background: #2a2e34;
    color: #797e86 !important;
    padding-top: 10px !important;
    position: absolute;
    bottom: 0;
}

.copy a {
    color: #797e86 !important;
    text-decoration: none;
}

.form-group {
    margin-bottom: 3px;
}

.form-group input, .form-group textarea {
    background: #797e86 url(../img/back/input.png) right bottom no-repeat;
    outline: none;
    border: none;
    padding: 5px 35px;
}

.form-group input:focus, .form-group textarea:focus {
    background: #3e434b;
}

.form-group input, .form-group textarea, .form-group .btn {
    width: 100%
}

.form-group .btn {
    border-radius: 0;
    background: #9d9fa5;
}

textarea {
    resize: none;
}

#contact_form::before {
    width: 95px;
    height: 55px;
    position: absolute;
    content: " ";
    top: 165px;
    right: -21px;
    background: url(../img/back/name.png) 0 0 no-repeat;
}

.features .caption.left::before {
    width: 367px;
    height: 103px;
    position: absolute;
    content: " ";
    top: -35px;
    right: -36px;
    background: url(../img/back/caption-left.png) 0 0 no-repeat;
}

.features .caption.right::before {
    width: 367px;
    height: 103px;
    position: absolute;
    content: " ";
    bottom: -35px;
    left: -36px;
    background: url(../img/back/caption-right.png) 0 0 no-repeat;
}

.social {
    padding-top: 33px !important;
}

.social div {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 10px;
    background-image: url(../img/Social_all.png);
    cursor: pointer;
}

.social .facebook {
    background-position: 0 32px;
}

.social .facebook:hover {
    background-position: 0 0;
}

.social .twitter {
    background-position: -32px 32px;
}

.social .twitter:hover {
    background-position: -32px 0;
}

.social .google {
    background-position: -96px 32px;
}

.social .google:hover {
    background-position: -96px 0;
}

.social .vk {
    background-position: 32px 32px;
}

.social .vk:hover {
    background-position: 32px 0;
}

.social .instagram {
    background-position: -128px 32px;
}

.social .instagram:hover {
    background-position: -128px -1px;
}

.social .pinterest {
    background-position: -160px 32px;
}

.social .pinterest:hover {
    background-position: -160px 0;
}

.social .youtube {
    background-position: -64px 32px;
}

.social .youtube:hover {
    background-position: -64px 0;
}

.social .vimeo {
    background-position: -192px 32px;
}

.social .vimeo:hover {
    background-position: -192px 0;
}

.social .skype {
    background-position: -224px 32px;
    margin-right: 0;
}

.social .skype:hover {
    background-position: -224px 0;
}

.up {
    width: 75px;
    height: 75px;
    position: absolute;
    top: -75px;
    right: 40px;
    background: #373c43;
    cursor: pointer;
}

.up .arrow {
    position: absolute;
    top: 8px;
    left: 17px;
    border: 20px solid transparent;
    border-bottom: 20px solid #565D67;
}

.up:hover .arrow {
    border-bottom-color: #9d9fa5;
}

.up::before {
    content: ' ';
    position: absolute;
    height: 95px;
    width: 55px;
    background: url(../img/back/up.png);
    top: -35px;
    left: -27px;
}

.dark-caption::before {
    content: ' ';
    position: absolute;
    height: 103px;
    width: 367px;
    background: url(../img/back/contact.png);
    top: -36px;
    left: 134px;
}

.logo-darker .pull-right::before {
    content: ' ';
    position: absolute;
    height: 55px;
    width: 95px;
    background: url(../img/back/polygonator.png);
    top: 31px;
    left: 21px;
}

.transparent {
    background: transparent;
}

.transparent::before {
    background: none !important;
}

.display-table {
    display: table
}

.display-table > [class*="col-"] {
    float: none;
    display: table-cell;
}

.text {
    line-height: 2;
    text-align: right;
    padding-top: 75px;
    padding-right: 0;
    color: #797e86;
}

p.text-right {
    font-size: 14px;
}

.contact-info {
    padding-top: 10px;
    padding-right: 30px;
}

.margin {
    margin-bottom: -15%;
}
.img-full {
    display:block;
    width:100%;
    height: 100% !important;
}
.full-slide {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: block;
}
.half-slide {
    width: 50%;
    height: 50%;
    min-height: 50%;
    display: block;
}

.fill {
    min-height: 100%;
    height: 100%;
}

.center-container {
    height:100%;
    display: table;
    width:100%;
    margin:0;
}

.center-row {
    height:50%;
    width:100%;
    display: table-row;
}

.center-row > div {
    height:100%;
    width:50%;
    display: table-cell;
    border:0 solid #eee;
    color:#fff;
    vertical-align:middle;
}

@media only screen and (max-width: 768px) {
    .is_mobile {
        display: none;
    }

    .logo {
        float: none;
        left: 0;
        position: relative;
        margin: 0;
        padding: 10px;
    }

    .logo .col-xs-10, .logo .col-xs-1 {
        float: none;
        display: inline-block;
    }

    .caption {
        top: 50px;
        height: auto;
    }

    .carousel .caption, .team .caption {
        max-width: 70%;
    }

    .logo-darker .pull-right {
        margin: 40px auto;
    }

    .logo-darker .pull-right::before {
        top: 71px;
        left: -6px;
    }

    .contact .container {
        margin-top: 70px;
    }
    .up {
         /*top: -145px;*/
     }
    .img-full {
       height: auto;
    }
    .full-slide {
        height: auto;
    }

    .fill {
        height: auto;
    }
    #carousel {min-height: 300px;}
    #carousel img{max-height: 100% !important;}
}

@media (min-width: 992px) {
    .polygon-img {
        margin: 0;
    }
}
